# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# local env files
.env*.local
.env

# misc
.DS_Store
*.pem
npm-debug.log*

# PWA files
/public/sw.js
/public/sw.js.map
/public/workbox-*.js
/public/workbox-*.js.map
/public/worker-*.js
/public/worker-*.js.map

# Android / Bubblewrap
/android.keystore
/app-release*.apk
/app-release*.aab
/app-release*.idsig
/.gradle/
/app/
/build/
/gradle/
/gradlew
/gradlew.bat
/local.properties
/build.gradle
/gradle.properties
/settings.gradle
/manifest-checksum.txt
/store_icon.png
/twa-manifest.json
/*.idsig
/*-aligned.apk
/android
